# AI orchestration tool
langchain~=0.1
langchain-openai~=0.1

# API used to convert text to embeddings and for LLM
openai~=1.25

# For data wrangling
pandas~=2.2

# Vector DB
pymilvus~=2.4

# Tokenizer compatible with OpenAI
tiktoken~=0.6